/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(3, 3, 3);
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
}

/* === HEADER === */
header {
  background: rgb(3, 3, 3);
  background-image: url("../assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 180px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.menu a:hover {
  color: #4c6fff;
}

/* === HERO === */
.hero {
  padding: 160px 80px 120px;
  max-width: 1200px;
}

.hero h1 {
  font-size: 45px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.hero p {
  font-size: 18px;
  color: #cfcfcf;
  margin-bottom: 40px;
  max-width: 600px;
}

.btn-hero {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 30px;
  border: 1.5px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-hero:hover {
  background: #4c6fff;
  border-color: #4c6fff;
  box-shadow: 0 0 15px #4c6fff;
}

/* === BENEFÍCIOS === */
.beneficios {
  padding: 120px 80px;
  text-align: center;
  background: rgb(3, 3, 3);
}

.beneficios h2 {
  font-size: 28px;
  margin-bottom: 60px;
  color: #ffffff;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
  background: rgb(3, 3, 3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 40px 25px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(76, 111, 255, 0.3);
}

.card img {
  width: 65px;
  margin-bottom: 25px;
  filter: brightness(0) invert(1);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.card p {
  font-size: 15px;
  color: #cfcfcf;
}

/* === PROCESSO === */
.processo {
  padding: 120px 80px;
  text-align: center;
  background: rgb(3, 3, 3);
  position: relative;
  overflow: hidden;
}

.processo h2 {
  font-size: 28px;
  margin-bottom: 60px;
}

.etapas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
}

.etapa {
  background: rgb(3, 3, 3);
  border-radius: 12px;
  overflow: hidden;
  max-width: 480px;
  transition: 0.3s;
}

/* .etapa::before {
  content: "";
  position: absolute;
  right: 1500px;
  top: 900px;
  width: 400px;
  height: 400px;
  background: #4B6CF0;
  filter: blur(180px);
  opacity: 0.7;
  z-index: 0;
} */

.etapa:hover {
  box-shadow: 0 0 25px rgba(76, 111, 255, 0.3);
}

.etapa img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.etapa span {
  font-size: 28px;
  display: block;
  margin-top: 20px;
  color: #4c6fff;
  font-weight: 700;
}

.etapa h4 {
  font-size: 20px;
  margin: 15px 0;
}

.etapa p {
  font-size: 15px;
  padding: 0 20px 30px;
  color: #cfcfcf;
}

/* === SOBRE === */
.sobre {
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: rgb(3, 3, 3);
  position: relative;
  overflow: hidden;
}

.sobre h2 {
  font-size: 30px;
}



.sobre-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1100px;
  position: relative;
  z-index: 1;
}

/* .sobre::before {
  content: "";
  position: absolute;
  right: 1300px;
  top: 10px;
  width: 1500px;
  height: 1500px;
  background: #4B6CF0;
  filter: blur(180px);
  opacity: 0.7;
  z-index: 0;
} */

.sobre-content .texto {
  width: 60%;
  font-size: 18px;
  color: #cfcfcf;
  line-height: 1.7;
}

.sobre-content img {
  width: 75%;
  border-radius: 40px;
  box-shadow: 0 0 25px rgba(76, 111, 255, 0.2);
}

/* === DEPOIMENTOS === */
.depoimentos {
  padding: 120px 80px;
  background: rgb(3, 3, 3);
  text-align: center;
}

.depoimentos h2 {
  font-size: 28px;
  margin-bottom: 60px;
}

.clientes {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.cliente {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 30px;
  width: 450px;
  text-align: left;
  box-shadow: 0 0 10px rgba(76, 111, 255, 0.1);
}

.clientes::before {
  content: "";
  position: absolute;
  right: 1300px;
  top: 1500px;
  width: 1500px;
  height: 2500px;
  background: #4B6CF0;
  filter: blur(180px);
  opacity: 0.7;
  z-index: 0;
}

.cliente blockquote {
  font-size: 15px;
  color: #4b4b4b;
  margin-bottom: 15px;
}

.cliente cite {
  font-weight: 600;
  color: #4c6fff;
}

/* === VALORES === */
.valores {
  padding: 120px 80px;
  text-align: center;
  background: rgb(3, 3, 3);
}

.valores h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.intro-valores {
  color: #cfcfcf;
  margin-bottom: 50px;
  font-size: 16px;
}

.valores-itens {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.valores-itens div {
  width: 250px;
}

.valores-itens img {
  width: 70px;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.valores-itens h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.valores-itens p {
  color: #cfcfcf;
  font-size: 15px;
}

/* === CONTATO === */
.contato {
  padding: 80px 60px;
  background: rgb(3, 3, 3);

}

.contato h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 60px;
}

.contato-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contato-form input,
.contato-form textarea {
  background: #000000;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
}

.contato-form textarea {
  min-height: 150px;
  resize: vertical;
}

.submit-btn {
  background: #4B6CF0;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  width: fit-content;
}

.submit-btn:hover {
  background: #3557dd;
}

.contato-image {
  background-image: url("https://img.freepik.com/fotos-premium/contato-da-pagina-do-site-da-empresa-empresario-tocando-em-contato-conosco-icones-para-atendimento-ao-cliente-incluem-telefone-endereco-e-e-mail-e-mensagem-por-renderizacao-3d_50039-2828.jpg");
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  box-shadow: 5px 5px 0px #4B6CF0;
}

.contato-banner {
  background: #2D323E;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contato-banner h3 {
  font-size: 20px;
}

.contato-banner-btn {
  background: #4B6CF0;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.contato-banner-btn:hover {
  background: #3557dd;
}

/* === FOOTER === */
footer {
  background: rgb(3, 3, 3);
  color: #aaa;
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .redes {
  margin-top: 15px;
}

footer .redes img {
  width: 30px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0) invert(1);
}

footer .redes img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #000000);
}

/* === RESPONSIVIDADE MOBILE === */
@media (max-width: 768px) {

  /* Header */
  header {
    padding: 20px 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .menu li {
    width: 100%;
    text-align: left;
  }

  .logo img {
    width: 140px;
  }

  /* Hero */
  .hero {
    padding: 100px 20px 60px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
    max-width: 100%;
  }

  .btn-hero {
    padding: 12px 25px;
    font-size: 16px;
  }

  /* Benefícios */
  .beneficios {
    padding: 80px 20px;
  }

  .beneficios h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .cards {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  /* Processo */
  .processo {
    padding: 80px 20px;
  }

  .processo h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .etapas {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .etapa img {
    height: 200px;
  }

  .etapa span {
    font-size: 22px;
  }

  .etapa h4 {
    font-size: 18px;
  }

  .etapa p {
    font-size: 14px;
    padding: 0 15px 20px;
  }

  /* Sobre */
  .sobre {
    padding: 80px 20px;
  }

  .sobre h2 {
    font-size: 24px;
  }

  .sobre-content {
    flex-direction: column;
    gap: 30px;
  }

  .sobre-content .texto {
    width: 100%;
    font-size: 15px;
  }

  .sobre-content img {
    width: 100%;
    border-radius: 20px;
  }

  /* Depoimentos */
  .depoimentos {
    padding: 80px 20px;
  }

  .depoimentos h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .clientes {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .cliente {
    width: 100%;
  }

  /* Valores */
  .valores {
    padding: 80px 20px;
  }

  .valores h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .valores-itens {
    flex-direction: column;
    gap: 30px;
  }

  .valores-itens div {
    width: 100%;
  }

  /* Contato */
  .contato {
    padding: 80px 20px;
  }

  .contato h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .contato form {
    width: 100%;
  }

  .contato input,
  .contato textarea {
    font-size: 14px;
    padding: 10px 12px;
  }

  .contato button {
    font-size: 14px;
    padding: 12px;
  }

  /* Footer */
  footer {
    padding: 30px 20px;
  }

  footer .redes img {
    width: 25px;
    margin: 0 5px;
  }
}